.App {
  text-align: center;
}
body{ 
  margin: 10px;
  padding: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header1 {
  background-color: rgb(143, 116, 66);
  height: 10%;
  border: 1px solid black;
  display: flex;

}

.cart-div {
  float: right;
  margin: 24px;
  position: absolute;
right : -1px;
  border: 1px solid black;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.wrapper  {
  position: absolute;
  right: 50px;
  top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color:red;
  margin: auto;
  padding:1.5px;
  
  border-radius: 10px
}
.btn{
  color: white;
  background-color: rgba(45, 85, 150, 0.992);
  margin: 10px;
  padding: 8px;
  border-radius: 5.5px;
  border: none;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

